<link
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  rel="stylesheet"
/>
<div class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 mt-5">
                <div class="b-form">
                    <form action="" class="login__register" id="login-in">
                        <h1 class="login__title">Sign In</h1>
                        <div class="login__box">
                          <i class='bx bx-user login__icon'></i>
                          <input type="text" placeholder="Username" class="login__input">
                        </div>
                        <div class="login__box">
                          <i class='bx bx-lock login__icon'></i>
                          <input type="password" placeholder="Password" class="login__input">
                        </div>
                        <a class="login__forgot">Forgot Password? </a> <!--TODO: incorporar el link -->
                        
                        <a class="login__button">Sign In</a> <!--TODO: incorporar el link -->
                        
                        <div>
                          <span class="login__account login__account--account">Don't Have an Account? </span>
                          <a href="/register" class="login__signin login__signin--signup" id="sign-up">Sign Up</a>
                        </div>
                      </form>
                </div>
    
            </div>
        </div>
    </div>
</div>