<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 d-flex justify-content-around">
        <li class="d-flex flex-column align-items-center">
          <div class="seat"></div>
          <small>N/A</small>
        </li>

        <li class="d-flex flex-column align-items-center">
          <div class="seat selected"></div>
          <small>Selected</small>
        </li>

        <li class="d-flex flex-column align-items-center">
          <div class="seat occupied"></div>
          <small>Ocupied</small>
        </li>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <p class="mb-0">Screen</p>
        <div class="movie-container">
          <div class="screen"></div>
        </div>
        <div class="seatRow">
            <div class="d-flex justify-content-center">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <span class="numRow">1</span>
        </div>
        <div class="seatRow">
            <div class="d-flex justify-content-center">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <span class="numRow">2</span>
        </div>
        <div class="seatRow">
            <div class="d-flex justify-content-center">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <span class="numRow">3</span>
        </div>
        <div class="seatRow">
            <div class="d-flex justify-content-center">
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
                <div class="seat"></div>
            </div>
            <span class="numRow">4</span>
        </div>
        <div class="seatRow">
            <div class="d-flex justify-content-center">
                <div class="letterColumn">A</div>
                <div class="letterColumn">B</div>
                <div class="letterColumn">C</div>
                <div class="letterColumn">D</div>
                <div class="letterColumn">E</div>
                <div class="letterColumn">F</div>
                <div class="letterColumn">G</div>
                <div class="letterColumn">H</div>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>