<div class="vw-100">

    <div class="container">
  
      <div class="row">
        
        <div class="col-12 text-center">
          <p class="mb-0">Seats</p>
        </div>
  
        <div class="col-12 d-flex justify-content-center mt-2 mb-2">
  
          <li class="d-flex flex-column align-items-center mr-3 ml-3">
            <div class="seat"></div>
            <small>N/A</small>
          </li>
  
          <li class="d-flex flex-column align-items-center mr-3 ml-3">
            <div class="seat selected"></div>
            <small>Selected</small>
          </li>
  
          <li class="d-flex flex-column align-items-center mr-3 ml-3">
            <div class="seat occupied"></div>
            <small>Ocupied</small>
          </li>
  
        </div>
  
        <div class="col-12 d-flex flex-column justify-content-center align-items-center mt-2">
          <p class="mb-0">Screen</p>
          <div class="movie-container">
            <div class="screen"></div>
          </div>
        </div>
        
        <!-- TODO: change row to letters and columns to number -->
        <div class="col-12 d-flex flex-column justify-content-center align-items-center"> 
          <div class="seatRow">
            <div class="d-flex justify-content-center">
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <span class="numRow">A</span>
          </div>
  
          <div class="seatRow">
            <div class="d-flex justify-content-center">
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <span class="numRow">B</span>
          </div>
  
          <div class="seatRow">
            <div class="d-flex justify-content-center">
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <span class="numRow">C</span>
          </div>
  
          <div class="seatRow">
            <div class="d-flex justify-content-center">
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <span class="numRow">D</span>
          </div>
          <div class="seatRow">
            <div class="d-flex justify-content-center">
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <span class="numRow">E</span>
          </div>
          <div class="seatRow">
            <div class="d-flex justify-content-center">
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <span class="numRow">F</span>
          </div>
          <div class="seatRow">
            <div class="d-flex justify-content-center">
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <span class="numRow">G</span>
          </div>
          <div class="seatRow">
            <div class="d-flex justify-content-center">
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
              <div class="seat"></div>
            </div>
            <span class="numRow">H</span>
          </div>
          <div class="seatRow">
            <div class="d-flex justify-content-center">
              <div class="letterColumn">1</div>
              <div class="letterColumn">2</div>
              <div class="letterColumn">3</div>
              <div class="letterColumn">4</div>
              <div class="letterColumn">5</div>
              <div class="letterColumn">6</div>
              <div class="letterColumn">7</div>
              <div class="letterColumn">8</div>
            </div>
          </div>
          
        </div>
  
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
          <a class="pay__button">Pay Now!</a> 
        </div>
  
      </div>
      
    </div>
  
  </div>